.appContainer {


  .navigation {
    transition: transform .15s ease-in-out;
    transition-delay: 1s;
    background: #1c88bb;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
  }

  .navigationOpen {
    display: block;
  }
  
  .containerWithOpenNavigator {
    padding-left: 250px;
  }
  
}

.scrollBox {
  background: rgb(241, 243, 246);
  height: 100%;
}

@media screen and (min-width: 770px) {
  .navigation {
    display: none;
  }
}